<div class="back">
        <div class="fancy-back"></div>
        <div class="container">
            <div class="select-box l">
                <% for(var i = 0; i < classes.length; i+=2) {%>
                <div class="row">
                    <div class="col-sm">
                        <div class="browser-btn">
                                <button class="btn btn-primary-outline big-button"><a href="/vocapp/browseimg/<%= classes[i] %>"><%= classes[i] %></a></button>
                        </div>
                        
                    </div>
                    <div class="col-sm">
                        <div class="browser-btn">
                                <button class="btn btn-primary-outline big-button"><a href="/vocapp/browseimg/<%= classes[i+1] %>"><%= classes[i+1] %></a></button>
                        </div>
                        
                    </div>
                </div>
                <% }; %>
    
            </div>
        </div>
    </div>