<div class="back">
    <div class="fancy-back"></div>
    <div class="container">
        <div class="select-box double-btn">
            <button type="submit" class="btn btn-primary double-btn"><a href="/vocapp/uploadimg">Upload IMG</a></button>
            <button type="submit" class="btn btn-primary double-btn"><a href="/vocapp/browseimg">Browse IMG</a></button>

        </div>
    </div>
</div>