<div class="back">
    <div class="fancy-back"></div>
    <div class="container">
        <div class="select-box double-btn">
            <div >
                <form action="/vocapp/uploadimg" enctype="multipart/form-data" method="POST">
                    <div class="custom-file upload w85">
                            <input type="file" class="custom-file-input" name="data" id="inputGroupFile03">
                            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                            
                        </div>
                        <button type="submit" class="btn btn-primary upload">Submit</button>
                </form>
                
            </div>

        </div>
    </div>
</div>