<div class="back">
    <div class="fancy-back"></div>
    <div class="container">
        <div class="select-box">
            <form action="/vocapp/setWD" method="POST">
                <div class="form-group">

                    <label for="data" class="single">Data Path</label>
                    <input type="text" name="data" class="form-control single" id="data">
                    <button type="submit" class="btn btn-primary single">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>